body {
color:black;
background-color:white;
background-image:url(fondgif2.gif);
background-repeat:no-repeat;
background-attachment:fixed;
overflow:hidden;
}

.titre{
color: white;
Font-Weight: Bold;
text-align: center;
font-size: 20px;
text-decoration: underline;
}